#c36{ position:absolute; position:absolute;
    left:95%;;
    top:80%;;
    }
    #c37{ position:absolute; position:absolute;left:100%;;top:95%;;}
    #c38{ position:absolute; position:absolute;left:110%;;top:94%;;}
    #c39{ position:absolute; position:absolute;left:115%;;top:110%;;}
    #c40{ position:absolute; position:absolute;left:125%;;top:95%;;}




#c42{ position:absolute;left:25%;
top:200%;}

#c43{ position:absolute;left:35%;top:190%;}
#c44{ position:absolute;left:37%;top:170%;}#c45{ position:absolute;left:45%;top:170%;}#c46{ position:absolute;left:50%;top:148%;}#c47{ position:absolute;left:40%;top:130%;}#c48{ position:absolute;left:45%;top:110%;}#c49{ position:absolute;left:48%;top:110%;}#c50{ position:absolute;left:50%;top:115%;}#c51{ position:absolute;left:53%;top:113%;}#c52{ position:absolute;left:52%;top:105%;}#c53{ position:absolute;left:49%;top:105%;}