#c36{ position:absolute;
left:95%;
top:80%;
}
#c37{ position:absolute;left:100%;top:95%;}
#c38{ position:absolute;left:110%;top:94%;}
#c39{ position:absolute;left:115%;top:110%;}
#c40{ position:absolute;left:125%;top:95%;}