.c1 {
    position: absolute;
    left: 5%;
}

.c2 {
    position: absolute;
    left: 6%;
    top: 8%;
}

.c3 {
    position: absolute;
    left: 20%;
    top: 9%;
}

.c4 {
    position: absolute;
    left: 20%;
}

.c5 {
    position: absolute;
    left: 28%;
    top: 13%;
}

.c6 {
    position: absolute;
    left: 33%;
    top: 29%;
}

.c7 {
    position: absolute;
    left: 35%;
    top: 41%;
}

.c8 {
    position: absolute;
    left: 50%;
    top: 2%;
}

.c9 {
    position: absolute;
    left: 59%;
}

.c10 {
    position: absolute;
    left: 68%;
    top: 13%;
}

.c11 {
    position: absolute;
    left: 75%;
    top: 23%;
}

.c12 {
    position: absolute;
    left: 76%;
    top: 37%;
}

.c13 {
    position: absolute;
    left: 88%;
    top: 40%;
}

.c14 {
    position: absolute;
    left: 89%;
    top: 25%;
}

.c15 {
    position: absolute;
    left: 34%;
    top: 85%;
}

.c16 {
    position: absolute;
    left: 35%;
    top: 67%;
}

.c17 {
    background: rgb(255, 255, 255);
    position: absolute;
    left: 20%;
    top: 65%;
}

.c18 {
    position: absolute;
    left: 18%;
    top: 83%;
}

.c19 {
    position: absolute;
    left: 48%;
    top: 55%;
}

.c20 {
    position: absolute;
    left: 40%;
    top: 62%;
}

.c21 {
    position: absolute;
    left: 44%;
    top: 70%;
}

.c22 {
    position: absolute;
    left: 45%;
    top: 72%;
}

.c23 {
    position: absolute;
    left: 54%;
    top: 68%;
}

.c24 {
    position: absolute;
    left: 60%;
    top: 67%;
}

.c25 {
    position: absolute;
    left: 54%;
    top: 100%;
}

.c26 {
    position: absolute;
    left: 45%;
    top: 93%;
}

.c27 {
    position: absolute;
    left: 61%;
    top: 91%;
}

#c36 {
    position: absolute;
    position: absolute;
    left: 95%;
    ;
    top: 80%;
    ;
}

#c37 {
    position: absolute;
    position: absolute;
    left: 100%;
    ;
    top: 95%;
    ;
}

#c38 {
    position: absolute;
    position: absolute;
    left: 110%;
    ;
    top: 94%;
    ;
}

#c39 {
    position: absolute;
    position: absolute;
    left: 115%;
    ;
    top: 110%;
    ;
}

#c40 {
    position: absolute;
    position: absolute;
    left: 125%;
    ;
    top: 95%;
    ;
}

#c42 {
    position: absolute;
    left: 25%;
    top: 200%;
}

#c43 {
    position: absolute;
    left: 35%;
    top: 190%;
}

#c44 {
    position: absolute;
    left: 37%;
    top: 170%;
}

#c45 {
    position: absolute;
    left: 45%;
    top: 170%;
}

#c46 {
    position: absolute;
    left: 50%;
    top: 148%;
}

#c47 {
    position: absolute;
    left: 40%;
    top: 130%;
}

#c48 {
    position: absolute;
    left: 45%;
    top: 110%;
}

#c49 {
    position: absolute;
    left: 48%;
    top: 110%;
}

#c50 {
    position: absolute;
    left: 50%;
    top: 115%;
}

#c51 {
    position: absolute;
    left: 53%;
    top: 113%;
}

#c52 {
    position: absolute;
    left: 52%;
    top: 105%;
}

#c53 {
    position: absolute;
    left: 49%;
    top: 105%;
}

#ursamajor {
    position: absolute;
    top: 50%;
    left: 60%;
    font-size: 30px;
}

#ursaminor {
    position: absolute;
    top: 40%;
    left: 11%;
    font-size: 30px;
}

#pegasus {
    position: absolute;
    top: 93%;
    left: 28%;
    font-size: 30px;
}

#cassiopeia {
    position: absolute;
    left: 95%;
    top: 115%;
    font-size: 30px;
}

#hydra {
    font-size: 30px;
    position: absolute;
    left: 25%;
    top: 165%;
}

.hydra {
    background-color: aqua;
}

.cassiopeia {
    background-color: cadetblue;
}

.ursaminor {
    background-color: lightblue;
}

.ursamajor {
    background-color: lightseagreen;
}

.pegasus {
    background-color: steelblue;
}