.c15 {

    position: absolute;
    left: 34%;
    top: 85%;
  }
  .c16 {

    position: absolute;
    left: 35%;
    top: 67%;
   
  }
  .c17 {

    background: rgb(255, 255, 255);
    position: absolute;
    left: 20%;
    top: 65%;
  
  }
  .c18 {

    position: absolute;
    left: 18%;
    top: 83%;
  }
  .c19{

    position: absolute;
    left: 48%;
    top: 55%;
  }
  .c20 {

    position: absolute;
    left:40%;
    top: 62%;
  }
  .c21 {

    position: absolute;
    left:44%;
    top: 70%;
  }

  .c22 {

    position: absolute;
    left:45%;
    top: 72%;
  }
  
  .c23 {

    position: absolute;
    left:54%;
    top: 68%;
  }

  .c24 {

    position: absolute;
    left:60%;
    top: 67%;
  }

  .c25 {

    position: absolute;
    left:54%;
    top: 100%;
  }

  .c26 {

    position: absolute;
    left:45%;
    top: 93%;
  }

  .c27 {

    position: absolute;
    left:61%;
    top: 91%;
  }

  #pegasus{
    position: absolute;
    top: 93%;
    left: 28%;
    font-size: 30px;
  }
