:root {
  --primary-color: #00ffbf;
  --light-black: #121212;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  height: 100vh;
  background: var(--light-black);
  color: white;
}

.nav {
  width: 100%;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--light-black);
  transition: 0.3s;
}

.nav p {
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: Arial;
}

.nav ul {
  list-style: none;
  display: flex;
  order: 3;
}

.nav ul li {
  margin-left: 20px;
  font-size: 1rem;
  letter-spacing: 2px;
  font-family: Helvetica;
  padding: 10px 20px;
  border-radius: 10px;
  transition: background 0.2s ease, color 0.2s ease;
}

.nav ul li:hover {
  background-color: var(--primary-color);
  color: black;
  padding: 10px auto;
}

.nav ul li a {
  text-decoration: none;
  color: white;
}

.nav ion-icon {
  color: white;
  font-size: 2rem;
  display: none;
  border-radius: 10px;
}

.body {
  height: 100%;
}

.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                    url("img/bg.jpeg");
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.home::before {
  content: 'Explore the solar system like never before';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  text-align: center;
  width: 100%;
  padding: 10px;
  font-family: Arial;
  font-weight: bolder;
  letter-spacing: 1.5px;
}

.features {
  margin-top: 50px;
}

.features .f-container {
  display: flex;
  flex-direction: row;
  margin: 30px;
  justify-content: space-evenly;
  padding-bottom: 30px;
}

.features .f-container .card {
  max-width: 300px;
  background-color: #F2F2F2;
  padding: 10px;
  border-radius: 10px;
}

.features .f-container .card .card-title {
  font-size: 1.7rem;
  color: white;
  font-weight: 300;
  position: absolute;
  z-index: 10;
  padding: 10px;
  font-family: Helvetica;
}

.features .f-container .card .image {
  width: 100%;
  filter: brightness(50%);
  border-radius: 10px;
}

.features .f-container .card .desc {
  color: #121212;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: 1.2px;
}

.features .f-container .card .take-me-there {
  padding: 10px 10px;
  color: black;
  display: inline-block;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 10px;
  background-color: #00FFBB;
  cursor: none;
  font-weight: bolder;
  margin-top: 20px;
  font-family: Roboto;
}

.features .f-container .card .take-me-there:hover {
  opacity: 0.6;
}

.features .title {
  padding-left: 30px;
  font-size: 1.7rem;
  font-family: Arial;
}

.features .title::after {
  content: '';
  width: calc(100% - 30px);
  border-bottom: 2px solid white;
  display: block;
}

.about {
  background-color: var(--light-black);
  width: 100%;
}

.about .title {
  padding-left: 30px;
  font-size: 1.7rem;
  font-family: Arial;
}

.about .title::after {
  content: '';
  width: calc(100% - 30px);
  border-bottom: 2px solid white;
  display: block;
}

.about .devs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}

.about .devs .cont {
  display: flex;
  background-color: #E2E2E2;
  max-width: 300px;
  min-width: 300px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.about .devs div .dev-image {
  width: 50px;
  border-radius: 50%;
}

.about .devs .cont div {
  display: flex;
  flex-direction: column;
}

.about .devs .cont div .name {
  color: black;
  padding-left: 20px;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: Roboto;
}

.about .devs .cont div .desc {
  padding-left: 20px;
  color: black;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: Roboto;
}

@media (max-width: 768px) {
  .nav ion-icon {
    display: block;
  }
  .nav ul {
    display: none;
    order: 3;
    margin-top: 10px;
    width: 100%;
  }
  .nav ul.active {
    display: flex;
    flex-direction: column;
  }
  .nav ul.active > * {
    margin: 0;
  }
  .break {
    flex-basis: 100%;
    height: 0;
  }
  .features .f-container {
    width: auto;
    flex-direction: column;
    align-items: center;
  }
  .features .f-container > * {
    margin-top: 20px;
  }
  .features .f-container:nth-child(1) {
    margin-top: 10px;
  }
  .about .devs {
    flex-direction: column;
  }
}
