.c8 {

    position: absolute;
    left: 50%;
    top: 2%;
  }
  .c9 {

    position: absolute;
    left: 59%;
   
  }
  .c10 {

    background: rgb(255, 255, 255);
    position: absolute;
    left: 68%;
    top: 13%;
  
  }
  .c11 {

    position: absolute;
    left:75%;
    top:23%;
  }
  .c12{

    position: absolute;
    left:76%;
    top: 37%;
  }
  .c13 {

    position: absolute;
    left:88%;
    top: 40%;
  }
  .c14 {

    position: absolute;
    left:89%;
    top: 25%;
  }

  #ursamajor{
      position: absolute;
      top: 50%;
      left: 60%;
      font-size: 30px;
  }